![IES21](img/logo_ies.png)

# Materia: Aprendizaje Automático 1
**SP01_Clase01**  
**Autoevaluación 1 - Ejercicio Resuelto**

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Datos" data-toc-modified-id="Datos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Datos</a></span><ul class="toc-item"><li><span><a href="#Carga-de-Datos" data-toc-modified-id="Carga-de-Datos-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Carga de Datos</a></span></li><li><span><a href="#Train-y-Test-Sets" data-toc-modified-id="Train-y-Test-Sets-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Train y Test Sets</a></span></li><li><span><a href="#Adaptemos-los-datos-para-sklearn." data-toc-modified-id="Adaptemos-los-datos-para-sklearn.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Adaptemos los datos para sklearn.</a></span></li></ul></li><li><span><a href="#Modelo:-Regresión-Lineal-Multivariable" data-toc-modified-id="Modelo:-Regresión-Lineal-Multivariable-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Modelo: Regresión Lineal Multivariable</a></span><ul class="toc-item"><li><span><a href="#Creación-del-Modelo" data-toc-modified-id="Creación-del-Modelo-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creación del Modelo</a></span></li><li><span><a href="#Training-con-fit" data-toc-modified-id="Training-con-fit-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Training con fit</a></span></li><li><span><a href="#Coeficientes-del-Modelo" data-toc-modified-id="Coeficientes-del-Modelo-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Coeficientes del Modelo</a></span></li><li><span><a href="#Evaluación" data-toc-modified-id="Evaluación-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Evaluación</a></span></li></ul></li></ul></div>

# El Problema:

Este es un problema de Regresión con 3 variables **X** (como todavía no estamos analizando la importancia de las features no mencionaremos qué es cada variable, simplemente serán  𝑥1 ,  𝑥2  y  𝑥3) y el target **y**. Los datos se encuentran en el archivo: *data/diabetes_3variables.csv*. Se le pide que:  

- cree un modelo de **Regresión Lineal** (en este caso será Multivariable), 
- obtenga los parámetros $ w_i$ del mismo,  y que
- evalúe con $R^2$, MSE y RMSE usando un esquema de Train / Test 80/20, y con semilla para los valores random de 123 cuando sea necesario.

# REGRESIÓN LINEAL

## Datos

### Carga de Datos
Cargar los datos en un DataFrame de Pandas. LLámelo df

In [64]:
import pandas as pd
df=pd.read_csv('data/diabetes_3variables.csv')

Qué tenemos en el DataFrame?

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 4 columns):
y     442 non-null float64
x1    442 non-null float64
x2    442 non-null float64
x3    442 non-null float64
dtypes: float64(4)
memory usage: 13.9 KB

Por ahora no hay Nulos, pero es mejor acostumbrarse a mirar un poco, más adelante tocaremos este tema.

In [66]:
df.head()

       y        x1        x2        x3
0  151.0  0.050680  0.061696  0.021872
1   75.0 -0.044642 -0.051474 -0.026328
2  141.0  0.050680  0.044451 -0.005671
3  206.0 -0.044642 -0.011595 -0.036656
4  135.0 -0.044642 -0.036385  0.021872

### Train y Test Sets  

Distribúyalos en **80 / 20** (Train y Test sets respectivamente), para sembrar el número aleatorio 
utilice 123 como en el ejemplo anterior

In [67]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2,random_state=123)

In [68]:
df_train.head()

         y        x1        x2        x3
59   170.0  0.050680 -0.025607  0.011544
209   77.0  0.050680 -0.018062  0.066630
21    49.0  0.050680 -0.022373  0.001215
274   66.0 -0.044642 -0.024529  0.035644
107  144.0 -0.044642  0.049840 -0.055018

In [69]:
df_test.head()

         y        x1        x2        x3
13   185.0  0.050680 -0.001895  0.008101
66   150.0  0.050680 -0.018062 -0.033214
234  246.0 -0.044642  0.039062  0.045972
24   184.0 -0.044642  0.035829 -0.022885
388  110.0  0.050680 -0.024529  0.056301

### Adaptemos los datos para sklearn.  

Posiblemente esta sea la única parte complicada del ejericio.  

Tiene que generar el: 

- X_train y y_train a partir de df_train
- X_test y y_test a partir de df_test

In [70]:
X_train=df_train[['x1','x2','x3']]
y_train=df_train[['y']]

In [71]:
X_train  # debería tener 3 columnas

           x1        x2        x3
59   0.050680 -0.025607  0.011544
209  0.050680 -0.018062  0.066630
21   0.050680 -0.022373  0.001215
274 -0.044642 -0.024529  0.035644
107 -0.044642  0.049840 -0.055018
..        ...       ...       ...
230  0.050680  0.071397 -0.057314
98   0.050680 -0.005128 -0.012556
322  0.050680  0.061696  0.062039
382 -0.044642  0.060618 -0.022885
365 -0.044642 -0.038540 -0.012556

[353 rows x 3 columns]

In [72]:
X_train.ndim  # debería ser de dimensión 2

2

In [73]:
y_train.ndim   # debería ser de dimensión 2

2

In [74]:
X_test=df_test[['x1','x2','x3']]
y_test=df_test[['y']]

## Modelo: Regresión Lineal Multivariable

En este caso, dado que tenemos 3 variables, nuestra hipótesis será:  

$$h(x)= w_0 + w_1 x_1 + w_2 x_2 + w_3 x_3$$

Ahora puede repetir **exactamente** el código usado con anterioridad, sólo tenga en cuenta que:  

- **modelo.coef_** le dará por resultado los **3 coeficientes** o parámetros del modelo: [$ w_1,w_2,w_3$], 
- $w_0$ se seguirá llamando **modelo.intercept_**

### Creación del Modelo

In [75]:
from sklearn import linear_model

modelo = linear_model.LinearRegression(fit_intercept=True)             # creamos el modelo

### Training con fit

In [76]:
modelo.fit(X_train, y_train)                                           # entrenamos el modelo

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Coeficientes del Modelo

In [77]:
print('COEFICIENTES de las variables X: ',modelo.coef_)        # esta vez tendremos 3 coeficientes, uno para cada variable
print('Término Independiente o INTERCEPT: ',modelo.intercept_)

COEFICIENTES de las variables X:  [[-57.69336766 776.54049599 387.22054517]]
Término Independiente o INTERCEPT:  [152.42161167]

In [78]:
# Si necesita acceder a cada coeficiente en forma separada, observe el doble corchete anterior ... 
modelo.coef_[0][2]

387.22054516835993

### Evaluación

In [79]:
from sklearn.metrics import mean_squared_error, r2_score
print("EVALUACIÓN del modelo de Regresión Lineal: ")
print("Coeficiente de Determinación R2: ",round(modelo.score(X_test,y_test),3)) # evaluamos el modelo
y_pred = modelo.predict(X_test)
MSE=mean_squared_error(y_test, y_pred)
print("MSE: ",round(MSE,3))
RMSE=mean_squared_error(y_test, y_pred,squared=False)
print("RMSE: ",round(RMSE,3))

EVALUACIÓN del modelo de Regresión Lineal:
Coeficiente de Determinación R2:  0.464
MSE:  3377.414
RMSE:  58.116

Siempre cuando evaluamos debemos tratar de tener una idea sobre si los valores son aceptables o no para el trabajo que estemos haciendo, una forma de medirlo es comparando el RMSE con el valor promedio de la variable target en el Train Set, por ejemplo calculando qué porcentaje representa el RMSE sobre el promedio de la variable target.  
Preferimos usar el RMSE porque es la única medida que está en las mismas unidades que la variable taget, el MSE por ejemplo es el cuadrado.

In [80]:
y_promedio=y_train.mean()[0]
y_promedio

152.42776203966005

In [81]:
porcentaje=RMSE/y_promedio * 100
print("El RMSE es el: ", round(porcentaje,2), " % del valor promedio de los valores del y_train")

El RMSE es el:  38.13  % del valor promedio de los valores del y_train

Parece que para la mayoría de las aplicaciones este sería un valor inaceptable.