![IES21](img/logo_ies.png)

# Materia: Aprendizaje Automático 1
**SP01_Clase01**  
**Autoevaluación 2 - Ejercicio Resuelto**

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Datos" data-toc-modified-id="Datos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Datos</a></span><ul class="toc-item"><li><span><a href="#Carga-de-Datos" data-toc-modified-id="Carga-de-Datos-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Carga de Datos</a></span></li><li><span><a href="#Train-y-Test-Sets" data-toc-modified-id="Train-y-Test-Sets-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Train y Test Sets</a></span></li><li><span><a href="#Adaptemos-los-datos-para-sklearn." data-toc-modified-id="Adaptemos-los-datos-para-sklearn.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Adaptemos los datos para sklearn.</a></span></li><li><span><a href="#Modelo,-Entrenamiento-y-Evaluación-en-una-sola-celda" data-toc-modified-id="Modelo,-Entrenamiento-y-Evaluación-en-una-sola-celda-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Modelo, Entrenamiento y Evaluación en una sola celda</a></span></li><li><span><a href="#Diagrama-de-Árbol" data-toc-modified-id="Diagrama-de-Árbol-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Diagrama de Árbol</a></span></li></ul></li></ul></div>

# El Problema:

Es el mismo problema de Regresión anterior pero ahora se le pide que:  

- cree un modelo de **'"Arbol de Decisión** con **profundidad = 4**, 
- obtenga el **Diagrama** del mismo,  y que
- evalúe con $R^2$, MSE y RMSE usando un esquema de Train / Test 80/20, y con semilla para los valores random de 123 cuando sea necesario.

# Regresión con Árbol de Decisión

## Datos  

Obviamente dado que son los mismos datos que en la Autoevaluación 1, el trabajo inicial con los datos será el mismo.

### Carga de Datos
Cargar los datos en un DataFrame de Pandas. LLámelo df

In [1]:
import pandas as pd
df=pd.read_csv('data/diabetes_3variables.csv')

Qué tenemos en el DataFrame?

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       442 non-null    float64
 1   x1      442 non-null    float64
 2   x2      442 non-null    float64
 3   x3      442 non-null    float64
dtypes: float64(4)
memory usage: 13.9 KB

Por ahora no hay Nulos, pero es mejor acostumbrarse a mirar un poco, más adelante tocaremos este tema.

In [3]:
df.head()

       y        x1        x2        x3
0  151.0  0.050680  0.061696  0.021872
1   75.0 -0.044642 -0.051474 -0.026328
2  141.0  0.050680  0.044451 -0.005671
3  206.0 -0.044642 -0.011595 -0.036656
4  135.0 -0.044642 -0.036385  0.021872

### Train y Test Sets  

Distribúyalos en **80 / 20** (Train y Test sets respectivamente), para sembrar el número aleatorio 
utilice 123 como en el ejemplo anterior

In [4]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2,random_state=123)

In [5]:
df_train.head()

         y        x1        x2        x3
59   170.0  0.050680 -0.025607  0.011544
209   77.0  0.050680 -0.018062  0.066630
21    49.0  0.050680 -0.022373  0.001215
274   66.0 -0.044642 -0.024529  0.035644
107  144.0 -0.044642  0.049840 -0.055018

In [6]:
df_test.head()

         y        x1        x2        x3
13   185.0  0.050680 -0.001895  0.008101
66   150.0  0.050680 -0.018062 -0.033214
234  246.0 -0.044642  0.039062  0.045972
24   184.0 -0.044642  0.035829 -0.022885
388  110.0  0.050680 -0.024529  0.056301

### Adaptemos los datos para sklearn.  

Posiblemente esta sea la única parte complicada del ejericio.  

Tiene que generar el: 

- X_train y y_train a partir de df_train
- X_test y y_test a partir de df_test

In [7]:
X_train=df_train[['x1','x2','x3']]
y_train=df_train[['y']]

In [8]:
X_train  # debería tener 3 columnas

           x1        x2        x3
59   0.050680 -0.025607  0.011544
209  0.050680 -0.018062  0.066630
21   0.050680 -0.022373  0.001215
274 -0.044642 -0.024529  0.035644
107 -0.044642  0.049840 -0.055018
..        ...       ...       ...
230  0.050680  0.071397 -0.057314
98   0.050680 -0.005128 -0.012556
322  0.050680  0.061696  0.062039
382 -0.044642  0.060618 -0.022885
365 -0.044642 -0.038540 -0.012556

[353 rows x 3 columns]

In [9]:
X_train.ndim  # debería ser de dimensión 2

2

In [10]:
y_train.ndim   # debería ser de dimensión 2

2

In [11]:
X_test=df_test[['x1','x2','x3']]
y_test=df_test[['y']]

### Modelo, Entrenamiento y Evaluación en una sola celda

Para que vea que realmente el código es corto, esta vez juntamos todo en una sola celda.

In [12]:
from sklearn.tree import DecisionTreeRegressor
modeloT=DecisionTreeRegressor(max_depth=4) #Creamos el modelo con profundidad 4
modeloT.fit(X_train, y_train)              # Lo entrenamos
y_predT = modeloT.predict(X_test)           # Pronosticamos

from sklearn.metrics import mean_squared_error, r2_score # Lo Evaluamos
print("Evaluación Árbol de Decisión:")
print('Coeficiente de Determinación R2: ', round(r2_score(y_test, y_predT),3))
MSET=mean_squared_error(y_test, y_predT)
print('MSE: ', round(MSET,3))

RMSET=mean_squared_error(y_test, y_predT,squared=False)
print('RMSE: ', round(RMSET,3))

Evaluación Árbol de Decisión:
Coeficiente de Determinación R2:  0.34
MSE:  4158.416
RMSE:  64.486

In [13]:
y_promedio=y_train.mean()[0]
porcentajeT=RMSET/y_promedio * 100
print("El RMSE es el: ", round(porcentajeT,2), " % del valor promedio de los valores del y_train")

El RMSE es el:  42.31  % del valor promedio de los valores del y_train

### Diagrama de Árbol

In [14]:
from sklearn import tree
import graphviz     # ya deberia tener instalado python-graphviz, sino hágalo!
arbol=tree.export_graphviz(modeloT, filled=True, rounded= True)
grafico=graphviz.Source(arbol)
grafico

ModuleNotFoundError: No module named 'graphviz'

In [ ]:
### Autoevaluación 3

Idem anterior pero para varios árboles, cada uno con profundidad: 1,2,3,4,5,6,7,8,9