Usando kNN para variables categóricas

In [ ]:
PARA PODER USAR KNN PARA IMPUTAR VARIBALES CATEGÓRICAS ANTES TENEMOS QUE VER DUMMY VARIABLES.

In [33]:
import numpy as np
import pandas as pd

X_Train=pd.DataFrame([[1,100,'m','alto'],[10,200,'f','medio'],[2,100,np.nan,'bajo'],[3,98,'m',np.nan],
                      [15,208,'f','alto'],[11,201,np.nan,'medio'] ])
X_Train.columns=['x1','x2','genero','altura']
X_Train

   x1   x2 genero altura
0   1  100      m   alto
1  10  200      f  medio
2   2  100    NaN   bajo
3   3   98      m    NaN
4  15  208      f   alto
5  11  201    NaN  medio

## Dummy

In [34]:
X_Train_dummy=pd.get_dummies(X_Train, columns=['genero','altura'])
X_Train_dummy

   x1   x2  genero_f  genero_m  altura_alto  altura_bajo  altura_medio
0   1  100         0         1            1            0             0
1  10  200         1         0            0            0             1
2   2  100         0         0            0            1             0
3   3   98         0         1            0            0             0
4  15  208         1         0            1            0             0
5  11  201         0         0            0            0             1

In [35]:
from sklearn.impute import KNNImputer

In [36]:
imputador_knn=KNNImputer(n_neighbors=2)
imputador_knn.fit(X_Train_dummy)
Train_dummy_Transformado=imputador_knn.transform(X_Train_dummy)

In [37]:
# Si lo queremos como DataDrame:
X_Train_dummy_Transformado=pd.DataFrame(Train_dummy_Transformado,columns=X_Train_dummy.columns)
X_Train_dummy_Transformado

     x1     x2  genero_f  genero_m  altura_alto  altura_bajo  altura_medio
0   1.0  100.0       0.0       1.0          1.0          0.0           0.0
1  10.0  200.0       1.0       0.0          0.0          0.0           1.0
2   2.0  100.0       0.0       0.0          0.0          1.0           0.0
3   3.0   98.0       0.0       1.0          0.0          0.0           0.0
4  15.0  208.0       1.0       0.0          1.0          0.0           0.0
5  11.0  201.0       0.0       0.0          0.0          0.0           1.0

Sí, funciona. kNN sólo imputa unos y ceros!!!!

# Probar con fancyimpute

Hemos intentado 
primero instalar fancyimpute en el Environment de Anaconda que estamos usando.

En la terminal 
> pip install fancyimpute

(es un paquete muy grande porque primero instala TensorFlow)

No suele andar.

In [38]:

#from fancyimpute import KNN

# Probar con missingpy

Primero
> pip install missingpy

Documentación https://github.com/epsilon-machine/missingpy

In [39]:
from missingpy import KNNImputer
imputer = KNNImputer()
# X_imputed = imputer.fit_transform(X)

In [41]:
X_Train_imputed = imputer.fit_transform(X_Train)

ValueError: could not convert string to float: 'm'

In [ ]:
#.inverse_tranform()

In [ ]:
#one_hot_encoded = pd.get_dummies(original)
#original_back = one_hot_encoded.idxmax(axis=1)

In [42]:
original=X_Train_dummy[['genero_m','genero_f']].idxmax(axis=1)
original

0    genero_m
1    genero_f
2    genero_m
3    genero_m
4    genero_f
5    genero_m
dtype: object