# Ejercicio "completo" de Selección de Modelo

- Compare los distintos modelos y sus hiperparámetros con los datos del ejercicio anterior.  
- Evalúe el modelo elegido.  
- Genere el modelo para producción.

In [1]:
import pandas as pd
df=pd.read_csv('data/diabetes_3variables.csv')
df

         y        x1        x2        x3
0    151.0  0.050680  0.061696  0.021872
1     75.0 -0.044642 -0.051474 -0.026328
2    141.0  0.050680  0.044451 -0.005671
3    206.0 -0.044642 -0.011595 -0.036656
4    135.0 -0.044642 -0.036385  0.021872
..     ...       ...       ...       ...
437  178.0  0.050680  0.019662  0.059744
438  104.0  0.050680 -0.015906 -0.067642
439  132.0  0.050680 -0.015906  0.017282
440  220.0 -0.044642  0.039062  0.001215
441   57.0 -0.044642 -0.073030 -0.081414

[442 rows x 4 columns]

## Generamos los Datasets

In [2]:
from sklearn.model_selection import train_test_split

# df_train, df_test = train_test_split(df, test_size=0.2,random_state=123)

In [3]:
X=df.drop(columns=['y'])
X

           x1        x2        x3
0    0.050680  0.061696  0.021872
1   -0.044642 -0.051474 -0.026328
2    0.050680  0.044451 -0.005671
3   -0.044642 -0.011595 -0.036656
4   -0.044642 -0.036385  0.021872
..        ...       ...       ...
437  0.050680  0.019662  0.059744
438  0.050680 -0.015906 -0.067642
439  0.050680 -0.015906  0.017282
440 -0.044642  0.039062  0.001215
441 -0.044642 -0.073030 -0.081414

[442 rows x 3 columns]

In [4]:
y=df[['y']]
y

         y
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

In [5]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2,random_state=123)

### Validation

In [6]:
Xval_train, Xval_test,yval_train, yval_test=train_test_split(X_train,y_train, test_size=0.2,random_state=123)

## Comparación de Modelos

### Regresión Lineal

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
rl=LinearRegression(n_jobs=-1)
rl.fit(Xval_train,yval_train)
yval_pred = rl.predict(Xval_test)
RMSE=mean_squared_error(yval_test, yval_pred,squared=False)
print("RMSE regresión lineal: ", RMSE)

RMSE regresión lineal:  58.89811191070833

### Árbol

Vamos a probar con profundidades desde 1 hasta 7

In [9]:
from sklearn.tree import DecisionTreeRegressor

for profundidad in range(1,8):
    
    arbol=DecisionTreeRegressor(max_depth=profundidad,random_state=123)
    arbol.fit(Xval_train,yval_train)
    yval_pred = arbol.predict(Xval_test)
    RMSE=mean_squared_error(yval_test, yval_pred,squared=False)
    print("Árbol de Profundidad: ", profundidad)
    print("RMSE arbol: ", RMSE)
    print("--------------------------------------------------------")

Árbol de Profundidad:  1
RMSE arbol:  67.06369956571609
--------------------------------------------------------
Árbol de Profundidad:  2
RMSE arbol:  66.99730353001537
--------------------------------------------------------
Árbol de Profundidad:  3
RMSE arbol:  69.34329257001006
--------------------------------------------------------
Árbol de Profundidad:  4
RMSE arbol:  77.56959734485575
--------------------------------------------------------
Árbol de Profundidad:  5
RMSE arbol:  85.0993831413183
--------------------------------------------------------
Árbol de Profundidad:  6
RMSE arbol:  86.63952382077957
--------------------------------------------------------
Árbol de Profundidad:  7
RMSE arbol:  92.04112002384981
--------------------------------------------------------

### kNN uniforme

In [10]:
from sklearn import neighbors


for k in range(1,20):
    
    knn = neighbors.KNeighborsRegressor(n_neighbors=k,weights='uniform')
    knn.fit(Xval_train,yval_train)
    yval_pred = knn.predict(Xval_test)
    RMSE=mean_squared_error(yval_test, yval_pred,squared=False)
    print("Cantidad de Vecinos: ", k)
    print("RMSE arbol: ", RMSE)
    print("--------------------------------------------------------")

Cantidad de Vecinos:  1
RMSE arbol:  81.96074292172864
--------------------------------------------------------
Cantidad de Vecinos:  2
RMSE arbol:  70.14507100228421
--------------------------------------------------------
Cantidad de Vecinos:  3
RMSE arbol:  62.11028104069902
--------------------------------------------------------
Cantidad de Vecinos:  4
RMSE arbol:  64.28945327825475
--------------------------------------------------------
Cantidad de Vecinos:  5
RMSE arbol:  61.788580922322254
--------------------------------------------------------
Cantidad de Vecinos:  6
RMSE arbol:  61.78664575063321
--------------------------------------------------------
Cantidad de Vecinos:  7
RMSE arbol:  61.8117081664621
--------------------------------------------------------
Cantidad de Vecinos:  8
RMSE arbol:  63.313053106464324
--------------------------------------------------------
Cantidad de Vecinos:  9
RMSE arbol:  61.93775517051381
--------------------------------------------------------
Cantidad de Vecinos:  10
RMSE arbol:  60.83945277601128
--------------------------------------------------------
Cantidad de Vecinos:  11
RMSE arbol:  60.39927869564164
--------------------------------------------------------
Cantidad de Vecinos:  12
RMSE arbol:  60.957209554847694
--------------------------------------------------------
Cantidad de Vecinos:  13
RMSE arbol:  60.43380003785618
--------------------------------------------------------
Cantidad de Vecinos:  14
RMSE arbol:  60.98598338625821
--------------------------------------------------------
Cantidad de Vecinos:  15
RMSE arbol:  61.60266949482699
--------------------------------------------------------
Cantidad de Vecinos:  16
RMSE arbol:  61.73583234361104
--------------------------------------------------------
Cantidad de Vecinos:  17
RMSE arbol:  61.742923132511464
--------------------------------------------------------
Cantidad de Vecinos:  18
RMSE arbol:  61.4337220068706
--------------------------------------------------------
Cantidad de Vecinos:  19
RMSE arbol:  61.797283885131804
--------------------------------------------------------

Mejor valor con 11 vecinos

### kNN con distancia

In [11]:
for k in range(1,30):
    
    knn = neighbors.KNeighborsRegressor(n_neighbors=k,weights='distance')
    knn.fit(Xval_train,yval_train)
    yval_pred = knn.predict(Xval_test)
    RMSE=mean_squared_error(yval_test, yval_pred,squared=False)
    print("Cantidad de Vecinos: ", k)
    print("RMSE arbol: ", RMSE)
    print("--------------------------------------------------------")

Cantidad de Vecinos:  1
RMSE arbol:  81.96074292172864
--------------------------------------------------------
Cantidad de Vecinos:  2
RMSE arbol:  68.48714140969071
--------------------------------------------------------
Cantidad de Vecinos:  3
RMSE arbol:  62.193657677450545
--------------------------------------------------------
Cantidad de Vecinos:  4
RMSE arbol:  62.4049523544429
--------------------------------------------------------
Cantidad de Vecinos:  5
RMSE arbol:  60.77902492414625
--------------------------------------------------------
Cantidad de Vecinos:  6
RMSE arbol:  60.69633649404083
--------------------------------------------------------
Cantidad de Vecinos:  7
RMSE arbol:  60.30632258181293
--------------------------------------------------------
Cantidad de Vecinos:  8
RMSE arbol:  61.311001303114324
--------------------------------------------------------
Cantidad de Vecinos:  9
RMSE arbol:  60.41984675948471
--------------------------------------------------------
Cantidad de Vecinos:  10
RMSE arbol:  59.845968971826665
--------------------------------------------------------
Cantidad de Vecinos:  11
RMSE arbol:  59.40563609044717
--------------------------------------------------------
Cantidad de Vecinos:  12
RMSE arbol:  59.51474746553476
--------------------------------------------------------
Cantidad de Vecinos:  13
RMSE arbol:  59.174286553078936
--------------------------------------------------------
Cantidad de Vecinos:  14
RMSE arbol:  59.46442783593793
--------------------------------------------------------
Cantidad de Vecinos:  15
RMSE arbol:  59.74789501006648
--------------------------------------------------------
Cantidad de Vecinos:  16
RMSE arbol:  59.716509672455736
--------------------------------------------------------
Cantidad de Vecinos:  17
RMSE arbol:  59.59980285524628
--------------------------------------------------------
Cantidad de Vecinos:  18
RMSE arbol:  59.40379412295341
--------------------------------------------------------
Cantidad de Vecinos:  19
RMSE arbol:  59.5441297676717
--------------------------------------------------------
Cantidad de Vecinos:  20
RMSE arbol:  59.624779330554105
--------------------------------------------------------
Cantidad de Vecinos:  21
RMSE arbol:  59.36707734850043
--------------------------------------------------------
Cantidad de Vecinos:  22
RMSE arbol:  59.457071481125126
--------------------------------------------------------
Cantidad de Vecinos:  23
RMSE arbol:  59.40325205289605
--------------------------------------------------------
Cantidad de Vecinos:  24
RMSE arbol:  59.379120410931755
--------------------------------------------------------
Cantidad de Vecinos:  25
RMSE arbol:  59.311298144762084
--------------------------------------------------------
Cantidad de Vecinos:  26
RMSE arbol:  59.52412127046953
--------------------------------------------------------
Cantidad de Vecinos:  27
RMSE arbol:  59.606160953578765
--------------------------------------------------------
Cantidad de Vecinos:  28
RMSE arbol:  59.36736175782968
--------------------------------------------------------
Cantidad de Vecinos:  29
RMSE arbol:  59.58611763915515
--------------------------------------------------------

### CONCLUSIÓN

El modelo con Menor RMSE es Regresión Lineal. Por lo tanto será el que usaremos para Producción. 

Lo usaremos para evaluar en Train Test y calcular el RMSE esperado en producción

## Evaluación del modelo elegido

entrenamos en el Train y Evaluamos en el Test.

In [12]:
rl=LinearRegression(n_jobs=-1)
rl.fit(X_train,y_train)
y_pred = rl.predict(X_test)
RMSE=mean_squared_error(y_test, y_pred,squared=False)
print("RMSE regresión lineal: ", RMSE)

RMSE regresión lineal:  58.11552226868896

## Modelo de Producción

Entrenar el modelo elegido con todos los datos originales

In [13]:
rl_produccion=LinearRegression(n_jobs=-1)
rl_produccion.fit(X,y)

LinearRegression(n_jobs=-1)

Cómo usar el modelo de producción?

In [14]:
observacion_nueva=[[0.004,0.001,-0.006]]
rl_produccion.predict(observacion_nueva)

array([[149.9473741]])

In [15]:
a1=input()

0.02

In [16]:
a2=input()

0.003

In [17]:
a3=input()

-0.0045

In [18]:
dato1=float(a1)
dato2=float(a2)
dato3=float(a3)
dato_nuevo=[[dato1,dato2,dato3]]
pronostico=rl_produccion.predict(dato_nuevo)

In [19]:
pronostico

array([[150.52125815]])

## Guardamos el modelo de producción para uso posterior

In [20]:
import pickle

In [21]:
# pickle.dump(rl_produccion, open('modelo_produccion.sav', 'wb'))

## Recuperamos el modelo guardado

In [22]:
# modelo_recuperado=pickle.load(open('modelo_produccion.sav', 'rb'))

In [23]:
# modelo_recuperado.predict(dato_nuevo)

array([[150.52125815]])